
* {margin: 0;padding: 0;}body { font: 16px/1.8 "Microsoft Yahei", verdana; }
/*第一页*/
.section01 { overflow:hidden; }

.bg { position:absolute; top:0; left:0; width:100%; height:100%; }
.bg img { width:100%; height:100%; display:block; }
.bg11 { position:absolute; bottom:0; background: url(../images/bg11.png) no-repeat 50% 0; height:850px; width:100%; z-index:2; transition: all 1s; }
.mail { background: url(../images/logo.png) no-repeat; width:375px; height:26px; position:absolute; left:50%; margin-left:-187px; overflow:hidden; top:-26px; transition: all 1s; }
.mail a { display: block; }
.mail-163 { width:107px; height:26px; float:left; }
.mail-126 { width: 108px; margin-left: 23px; height:26px; float:left; }
.mail-yeah { width: 115px; float:right; height:26px; }
.bg13 { background:url(../images/bg13.png) no-repeat 50% 0; width:100%; height:377px; position:absolute; opacity:0; bottom:-377px; transition:all 1s; }
.bg12 { position: absolute; bottom: -392px; width: 100%; height: 392px; background: url(../images/bg12.png) 50% 0 no-repeat; opacity: 0; transition: all 1.7s; }
.hgroup { background: url(../images/slogan.png) no-repeat 0 0; position:absolute; top:230px; left:50%; width:554px; height:176px; margin-left:-272px; z-index: 100; opacity:0; transition:all 1s; transform:scale(0.5, 0.5) }
.hgroup h1 { padding:0; margin:0; }
.hgroup h1 a { display:block; width:554px; height:102px; text-indent:-9999px; }
.hgroup h2 { text-indent:-9999px; }
.p11 { position: absolute; left: 50%; top: 50%; width: 600px; margin: 0 0 0 -280px; font-size: 14px; color: #94a7c6; opacity: 0; z-index: 120; transition:all 1s; }
/*第一页变化效果*/
.active .bg12 { bottom: 90px; opacity: 1; transition-delay: 0.7s; }
.active .bg13 { bottom:0; opacity: 1; transition-delay: 0.7s; }
.active .mail { top:26px; transition-delay: 0.7s; }
.active .hgroup { opacity: 1; transform:scale(1, 1); transition-delay: 0.7s; }
.active .p11 { opacity: 1; transition-delay:2s; }
/*第2页*/
.section02 { overflow:hidden; }
.bg21 { background:url(../images/bg23.png) no-repeat 50% 0; width:819px; height:325px; position:absolute; bottom:-40%; left:50%; margin-left:-409px; transition:all 1s; z-index:100; }
.p21 { position: absolute; left: 50%; top:275px; width: 600px; margin: 0 0 0 -255px; font-size: 16px; color: #727F8C; opacity: 0; z-index: 120; transition:all 1s; }
.strong { position: absolute; left: 50%; top: 136px; z-index: 10; width: 512px; height: 45px; margin-left: -256px; font-size: 24px; font-weight: 500; color: #748A9E; opacity: 0; transition:all 1s; transform:scale(0.5, 0.5); }
.word02 { background:url(../images/t2.png) no-repeat 50% 0; width:512px; height:45px; position:absolute; top:196px; left:50%; margin-left:-256px; opacity: 0; transition:all 1s; transform:scale(0.5, 0.5); }
.bg22 { background: url(../images/bg21.png) no-repeat 0 0; width: 233px; height: 250px; position: absolute; left: 50%; margin-left: -1628px; bottom: 145px; transition:all 1s; }
.bg23 { background:url(../images/bg22.png) no-repeat 0 0; width:211px; height:299px; position:absolute; right:50%;bottom:15%; margin-bottom: 70px;margin-right: -1539px; transition:all 1s;}
.active .bg21 { bottom:15%; transition-delay:0.7s; }
.active .p21 { opacity:1; transition-delay:1.7s; }
.active .strong { opacity: 1; transition-delay:0.7s; transform:scale(1, 1); }
.active .word02 { opacity: 1; transition-delay:0.7s; transform:scale(1, 1); }
.active .bg22 {margin-left: -628px;transition-delay:0.7s; }
.active .bg23 {margin-right: -539px;transition-delay:0.7s; }
/*第3页*/
.section03 { overflow:hidden; }
.bg31 { background: url(../images/bg31.png) no-repeat 50% 0;width: 892px;height: 472px; position:absolute; bottom:100px; left:50%;margin-left: -396px;transition:all 1s; z-index:100;opacity:0;}
.bg32{ background:url(../images/bg32.png) no-repeat 0 0; width:322px; height:143px; position:absolute; left:50%;bottom: 10px;margin-left: 107px; opacity:0;}
.bg33{ background:url(../images/bg33.png) no-repeat 0 0;width:441px; height:380px; position:absolute;bottom:0;left:50%;margin-left: 50%;transition:all 1s;}
.p31 { position: absolute; left: 50%; top:382px; width: 435px; margin: 0 0 0 -100%; font-size: 16px;color: #FFFDE1; opacity: 0; z-index: 120; transition:all 1s; }
.word03{ background:url(../images/t3.png) no-repeat 0 0;width:513px; height:45px; position:absolute; left:50%;top: 194px;margin-left: -255px;opacity: 0; transition:all 1s; transform:scale(0.5, 0.5);}
.active .word03{ opacity: 1; transition-delay:0.7s;transform:scale(1, 1);}
.active .p31{opacity: 1; transition-delay:0.7s; margin-left:-490px;}
.active .bg31{opacity:1; transition-delay:1s;}
.active .bg32{opacity:1; transition-delay:1s;}
.active .bg33{margin-left: -120px; transition-delay:1s;}
/*第4页*/
.section04 { overflow:hidden; }
.p41 { position: absolute; left: 50%; top:275px; width: 600px; margin: 0 0 0 -255px; font-size: 16px; color: #727F8C; opacity: 0; z-index: 120; transition:all 1s; }
.strong { position: absolute; left: 50%; top: 136px; z-index: 10; width: 512px; height: 45px; margin-left: -256px; font-size: 24px; font-weight: 500; color: #748A9E; opacity: 0; transition:all 1s; transform:scale(0.5, 0.5); }
.word04 { background:url(../images/t4.png) no-repeat 50% 0; width:512px; height:45px; position:absolute; top:196px; left:50%; margin-left:-256px; opacity: 0; transition:all 1s; transform:scale(0.5, 0.5); }
.bg41 { background: url(../images/bg41.png) no-repeat 50% 0; width:100%; height:372px; position:absolute; bottom:-50%; left:0; transition:all 1s; z-index:100; }
.bg42 { background: url(../images/bg42.png) no-repeat 50% 0; width: 100%; height: 449px; position: absolute; left: 0; bottom: -50%; transition:all 1s; z-index:100; }
.bg43 { background: url(../images/bg43.png) no-repeat 50% 0; width: 100%; height: 248px; position: absolute; left: 0; bottom:-50%; transition:all 1s; }
.active .p41 { opacity:1; transition-delay:1.7s; }
.active .strong { opacity: 1; transition-delay:0.7s; transform:scale(1, 1); }
.active .word04 { opacity: 1; transition-delay:0.7s; transform:scale(1, 1); }
.active .bg41 { bottom:15%; transition-delay:0.7s; }
.active .bg42 { bottom:15%;transition-delay:1.2s; }
.active .bg43 { bottom:15%;transition-delay:1s; }
/*第5页*/
.section05 { overflow:hidden; }
.word05 { background:url(../images/t5.png) no-repeat 50% 0; width:512px; height:45px; position:absolute; top:196px; left:50%; margin-left:-256px; opacity: 0; transition:all 1s; transform:scale(0.5, 0.5); }
.bg51, .bg52, .bg53, .bg54 {position: absolute;z-index: 1;width: 208px;left: 50%;bottom: 20%;padding-top: 210px;color: #fff;transition:all 1s; opacity:0; height:128px;}
.bg51 {background:url(../images/bg51.png) no-repeat 0 0; margin-left:-851px;}
.bg52 {background:url(../images/bg52.png) no-repeat 0 0; margin-left:-451px;}
.bg53 {background:url(../images/bg53.png) no-repeat 0 0; margin-left:200px;}
.bg54 {background:url(../images/bg54.png) no-repeat 0 0;margin-left: 644px;}
.active .strong { opacity: 1; transition-delay:0.7s; transform:scale(1, 1); }
.active .word05 { opacity: 1; transition-delay:0.7s; transform:scale(1, 1); }
.active .bg51 { margin-left:-523px;transition-delay:0.7s;opacity: 1;}
.active .bg52 { margin-left: -258px;transition-delay:0.7s;opacity: 1; }
.active .bg53 { margin-left:46px;transition-delay:0.7s;opacity: 1;}
.active .bg54 { margin-left:346px;transition-delay:0.7s;opacity: 1;}
.section05 h2 {margin-bottom: 12px;font-size: 23px;font-weight: 500;}
.section05 p {font-size: 14px;}
/*第6页*/
.section06 { overflow:hidden; }
.word06 { background:url(../images/t6.png) no-repeat 50% 0; width:561px; height:44px; position:absolute; top:196px; left:50%; margin-left:-280px; opacity: 0; transition:all 1s; transform:scale(0.5, 0.5); }
.section06 .strong{ margin-left:-280px}
.bg61{ background:url(../images/bg61.png) no-repeat 50% 0;height:545px; width:100%; position:absolute; top:-50%; transition:all 1s;  }
.bg62{ background:url(../images/bg62.png) no-repeat 50% 0;width:597px; height:284px; position:absolute; left:10%;  bottom:20%; margin-left:-508px; transition:all 1s;}
.text6{ width:432px; height:198px;color:#5C7970; font-size:16px; position:absolute; left:100%; margin-left:90px; bottom:22%;transition:all 1s;opacity:0;}
.text6 p{ padding:10px 0 0 0;}
.active .word06{ opacity: 1; transition-delay:0.7s; transform:scale(1, 1); }
.active .bg61{transition-delay:0.7s;top:0;}
.active .bg62{ transition-delay:0.7s; left:50%;}
.active .text6{ transition-delay:0.7s; left:50%;opacity:1;}